---
import Header from "../components/Header.astro"
import PostCard from "../components/PostCard.astro";
import "@fontsource/sora"
import { getCollection } from "astro:content";
const posts = await getCollection("posts")
---

<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<Header />
	<main>
		<div class="post-grid">
			{posts.map((post) => (
				<PostCard {...post} />
			))}
		</div>
	</main>
</html>

<style is:global>
	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		font-family: "Sora";
	}

	main {
		padding-left: 120px;
		padding-right: 120px;
		padding-top: 40px;
		padding-bottom: 120px;
	}

	.post-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-items: center;
		gap: 32px
	}
</style>